.wrap_block{
    margin-top: 100px;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px #5d8fc9;
    border-radius: 2%;
}

.block_forimg{
    margin: 30px 30px 30px 30px;
    width: 60%;
}

.block_forDescr{
    margin: 30px 30px 30px 30px;
    width: 30%;
}

.orderContent{
    display: flex;
    margin: 10px;

}

.wrap_block_order{
    position: relative;
    margin-top: 100px;
    padding: 30px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px #5e67bb;
    border-radius: 2%;
}

.comments{
    margin-top: 70px;
    border-bottom: solid;
    border-top: solid;
    border-color: #5d8fc9;
}

.createComments{
    margin-top: 100px;
}

.blockComments{
    margin-top: 50px;
}

textarea{
    width: 50%;
    height: 200px;
}

.mini_order{
    position: absolute;
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-bottom: 100px;
}